.title{
    font-size: 5vw;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 25vh;
    width: 100%;
}

.input{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.search,
.select {
    width: 40%;
}

@media (max-width: 900px){
    .header{
        height: 23vh;
    }

    .title{
        margin-top: 5px;
        font-size: 11vw;
    }
}